:root {
    --primary: #24b2eb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* .wrapper {
    overflow: hidden;
} */

header,
nav,
nav ul,
nav ul li,
nav ul li a {
    height: 100%;
}

header {
    width: 100%;
    height: 90px;
    /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply; */
    padding: 0 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
}

nav {
    height: 100%;

}

nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 7px;
    color: #3F3F3F
}

nav ul li img {
    height: 35px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.list_menu {
    display: flex;

}

.list_menu p {
    font-size: .8em;
}

.list_menu a:hover {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    color: #FFFFFF;
}

.cont_perfil {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.info_perfil {
    text-align: right;
}

.avatar img {
    height: 50px;
}

.content {
    height: calc(100vh - 90px);
    padding: 2em;
}

.section_view {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(36, 178, 235, 0.4);
    border-radius: 1.5em;
    padding: 2em;
}

.header_section_view {
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.header_section_view button {
    background-color: var(--primary);
    color: #fff;
    border: solid 1px var(--primary);
    padding: 0 2em;
    border-radius: 3px;
    cursor: pointer;
}

.t_listado {
    border-collapse: collapse;
    font-size: .9em;
    width: 100%;
}

.t_listado td,
.t_listado th {
    border: 1px solid var(--primary);
    padding: 5px;
}

.t_listado td {
    font-size: .9em;
    vertical-align: top;
}

.t_listado p {
    color: #686565;
}

.t_listado td p span {
    font-weight: bold;
    color: #000;
}

.t_listado th {
    background-color: var(--primary);
    color: #fff;
}