@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --primary: #46aef7;
    --primary-hover: #30c7ec;
    --sombreado: #e7eef1;
    --dark-light: #535c68;
    /*
    #16d9e3
    #30c7ec
    #46aef7
    */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Raleway', sans-serif;
    font-family: 'Noto Nastaliq Urdu', serif;*/
    font-family: 'Ubuntu', sans-serif;

}

/* .wrapper {
    overflow: hidden;
} */

header,
nav,
nav ul,
nav ul li,
nav ul li a {
    height: 100%;
}

header {
    width: 100%;
    height: 90px;
    /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply; */
    padding: 0 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
}

nav {
    height: 100%;

}

nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 7px;
    color: #3F3F3F
}

nav ul li img {
    height: 35px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.list_menu {
    display: flex;

}

.list_menu p {
    font-size: .8em;
}

.list_menu a:hover {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    color: #FFFFFF;
}

.cont_perfil {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    background-color: var(--sombreado);
    padding: 0 10px;
}

.info_perfil {
    text-align: right;
}

.avatar img {
    height: 50px;
}

.content {
    height: calc(100vh - 90px);
    padding: 2em;
}

.section_view {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid rgba(36, 178, 235, 0.4);
    border-radius: 1.5em;
    padding: 2em;
}

.header_section_view {

    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.header_section_view button {
    background-color: var(--primary);
    color: #fff;
    border: solid 1px var(--primary);
    padding: 0 2em;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease .4s;
}

.header_section_view button:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.t_listado {
    border-collapse: collapse;
    font-size: .9em;
    width: 100%;
}

.t_listado td,
.t_listado th {
    border: 1px solid var(--primary);
    padding: 7px;
}

.t_listado td {
    font-size: .9em;
    vertical-align: top;
}

.t_listado td p {
    margin-bottom: 3px;
    color: var(--dark-light);
}

.t_listado td p span {
    font-weight: bold;
}

.t_listado th {
    background-color: var(--primary);
    color: #fff;
}

.cont_perfil span {
    color: var(--primary);
}

/* --- */
.options_perfil {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    border: 1px solid rgb(228, 226, 226);
    background-color: #fff;
}

.options_perfil li {
    padding: .8em 1em;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.options_perfil li:hover {
    background-color: var(--sombreado);
}

.options_perfil img {
    max-height: 28px;
}