@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --primary: #46aef7;
    --primary-hover: #30c7ec;
    --sombreado: #e7eef1;
    --dark-light: #535c68;
    --gray: #ced6e0;
    /*
    #16d9e3
    #30c7ec
    #46aef7
    */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Raleway', sans-serif;
    font-family: 'Noto Nastaliq Urdu', serif;*/
    font-family: 'Ubuntu', sans-serif;

}

/* .wrapper {
    overflow: hidden;
} */

header,
nav,
nav ul,
nav ul li,
nav ul li a {
    height: 100%;
}

header {
    width: 100%;
    height: 90px;
    /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply; */
    padding: 0 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
}

nav {
    height: 100%;

}

nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 7px;
    color: #3F3F3F
}

nav ul li img {
    height: 35px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.list_menu {
    display: flex;

}

.list_menu p {
    font-size: .8em;
}

.list_menu a:hover,
.list_menu a.active {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    color: #FFFFFF;
}

.cont_perfil {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    background-color: var(--sombreado);
    padding: 0 10px;
}

.info_perfil {
    text-align: right;
}

.avatar img {
    height: 50px;
}

.content {
    height: calc(100vh - 90px);
    padding: 2em;
    width: 100%;
}

.section_view {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid rgba(36, 178, 235, 0.4);
    border-radius: 1.5em;
    padding: 2em;
}

.header_section_view {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.header_section_view button,
form button {
    background-color: var(--primary);
    color: #fff;
    border: solid 1px var(--primary);
    padding: 0 2em;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease .4s;
}

.header_section_view button:hover,
form button:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.t_listado {
    border-collapse: collapse;
    font-size: .9em;
    width: 100%;
}

.t_listado td,
.t_listado th {
    border: 1px solid var(--primary);
    padding: 7px;
}

.t_listado td {
    font-size: .9em;
    vertical-align: top;
}

.t_listado td p {
    margin-bottom: 3px;
    color: var(--dark-light);
}

.t_listado td p span {
    font-weight: bold;
}

.t_listado th {
    background-color: var(--primary);
    color: #fff;
}

.cont_perfil span {
    color: var(--primary);
}

/* --- */
.options_perfil {
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    border: 1px solid rgb(228, 226, 226);
    background-color: #fff;
}

.options_perfil li {
    padding: .8em 1em;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.options_perfil li:hover {
    background-color: var(--sombreado);
}

.options_perfil img {
    max-height: 28px;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #323232;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-hover);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}

/* --- MODAL ---*/
.bg-modal,
.close-modal-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.bg-modal {
    display: none;
    overflow: auto;
    background-color: rgba(30, 39, 46, .7);
}

/* The modal box */
.modal-dialog {
    display: table-cell;
    vertical-align: middle;
}

/* The modal's content */
.modal-dialog .modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 15px 30px;
    outline: 0;
    border-radius: 10px;
    text-align: justify;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animation-modal;
    /* Add animation */
    -webkit-animation-duration: 0.5s;
    /* Chrome, Safari, Opera */
    animation-name: animation-modal;
    /* Chrome, Safari, Opera */
    animation-duration: 0.5s;
    max-width: 450px;
}

/* The button used to close the modal */
.close_btn {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    transition: all ease .5s;
    width: 1em;
    height: 1em;
    padding: .7em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    position: absolute;
    right: -15px;
    top: -12px;
}

.close_btn:hover,
.close_btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;

}

/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes animation-modal {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

/* Add animation (Standard syntax) */
@keyframes animation-modal {
    from {
        top: -100px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}

/* Opciones toggle*/
.options_perfil {
    display: none;
}

.cont_perfil:hover .options_perfil {
    display: block;
}

.tittle_form {
    color: var(--primary);
    padding-left: 5px;
    padding-bottom: 7px;
}

.modal_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_form form {
    flex-direction: column;
    gap: 5px;
    padding: 1em 0;
    display: flex;
}

.cont_inputs_form {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.cont_inputs_form,
.cont_inputs_form input,
.cont_inputs_form select,
.group_input {
    width: 100%;
}

.cont_inputs_form input,
.cont_inputs_form select {
    padding: 1em;
    outline: none;
    border: 1px solid var(--gray);
}

.cont_inputs_form input:focus,
.cont_inputs_form select:focus {
    border: 1px solid var(--primary-hover);
}

form button {
    padding: 1em;
}

.frm-lg {
    width: 100% !important;
    max-width: 1100px !important;
}

.w50 {
    width: 50%;
}

.subtittle_form {
    color: var(--dark-light);
    font-size: .9em;
    margin: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.group_input {
    display: flex;
    border-radius: 3px;
    overflow: hidden;
}

.group_input input,
.group_input button {
    border: none;
}

.group_input input {
    border: 1px solid var(--primary);
}

.group_input button {
    padding: 0 .8em;
    border-radius: unset;
}

.group_input img {
    max-height: 15px;
}

.col-2 {
    width: 100%;
    display: flex;
    gap: 1em;
}

.mg-top-10 {
    margin-top: 10px;
}

.line {
    width: 1px;
    border-left: 1px dotted rgba(0, 0, 0, .2);
}

.w-medium {
    width: 47% !important;
}

select option {
    min-height: 10px;
    padding: 0 10px;
    font-weight: 400;
}