<div class="header_section_view">
    <h1>Muestras realizadas</h1>
    <div class="group-search">
        <input type="text" name="searchInfraccion" id="searchInfraccion" placeholder="Buscar...">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <button id="btn-nuevo">Nuevo</button>
</div>
<div class="body_section_view">
    <table class="t_listado">
        <thead>
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Vehículo</th>
                <th>Infracción</th>
                <th>Extracción</th>
                <th>Observación</th>
                <th>Peritaje</th>
                <th>Digitación</th>
                <th>Certificado</th>
            </tr>
        </thead>
        <tbody id="tb_incidencias">
            <!--Ajax-->
        </tbody>
    </table>
</div>
<script>
    listarIncidencias();
</script>