<div class="header_section_view">
  <h1>Reportes</h1>
  <div class="group_controls">
    <input type="date" name="repFecha" id="repFecha" />
    <select name="repTurno" id="repTurno">
      <option value="0">Turno</option>
      <option value="M">Mañana</option>
      <option value="N">Noche</option>
    </select>
    <button id="btn-reporteDiario">Buscar</button>

  </div>
</div>
<div class="body_section_view">
  <div class="cont-export">
    <p>Exportar: </p>
    <i id="btnImprmirReporte" class="fa-solid fa-file-pdf i-red btnReporte"></i>
  </div>

  <table class="t_listado">
    <thead>
      <tr>
        <th>Muestra</th>
        <th>Total</th>
        <th>#</th>
        <th>Comisiones</th>
      </tr>
    </thead>
    <tbody id="tbReporte"></tbody>
  </table>
</div>