<div class="header_section_view">
  <h1>Consolidado por Periodo</h1>
  <div class="group_controls">
    <label>Desde: </label>
    <input type="date" name="repGenFechaInicio" id="repGenFechaInicio" />
    <label>Hasta: </label>
    <input type="date" name="repGenFechaFin" id="repGenFechaFin" />
    <button id="btn-reporteGeneral">Buscar</button>
  </div>
</div>
<div class="body_section_view">
  <div class="cont-export">
    <p>Exportar:</p>
    <i
      id="btnImprmirReporteGeneral"
      class="fa-solid fa-file-pdf i-red btnReporte"
    ></i>
  </div>

  <table class="t_listado">
    <thead>
      <tr>
        <th>N°</th>
        <th>N° hoja registro</th>
        <th>Nombre de usuario</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>N° Doc</th>
        <th>Licencia</th>
        <th>Clase</th>
        <th>Vehículo</th>
        <th>Placa</th>
        <th>CIA</th>
        <th>N° oficio</th>
        <th>fecha Oficio</th>
        <th>Motivo</th>
        <th>Conductor</th>
        <th>Hora infracción</th>
        <th>Fecha infracción</th>
        <th>Hora extracción</th>
        <th>Fecha extracción</th>
        <th>Hrs. transcurridas</th>
        <!-- <th>Atención en</th> -->
        <th>Mmuestra</th>
        <th>Extractor</th>
        <th>Observación</th>
        <th>Perito</th>
        <th>Cualitativo</th>
        <th>Cuantitativo</th>
        <th>fecha registro</th>
        <th>Digitador</th>
        <th>N° Certificados</th>
      </tr>
    </thead>
    <tbody id="tbReporte"></tbody>
  </table>
</div>
