<form action="" id="frmCambioPass" autocomplete="off">
    <h2 class="tittle_form">Cambio de contraseña</h2>
    <div class="cont_inputs_form">
        <input type="password" name="passActual" id="passActual" placeholder="Ingrese Contraseña Actual"
            autocomplete="new-password">
    </div>
    <div class="cont_inputs_form">
        <input type="password" name="passNueva" id="passNueva" placeholder="Ingrese Contraseña Nueva"
            autocomplete="new-password">
    </div>
    <button type="submit">Cambiar Contraseña</button>
</form>