<div class="modal_head">
    <h2 class="tittle_modal">Cambio de contraseña</h2>
    <a href="" class="close_btn closeModal">x</a>
</div>
<div class="modal_form">
    <form id="frmCambioPass">
        <div class="cont_inputs_form">
            <input type="text" name="passActual" id="passActual" placeholder="Ingrese Contraseña Actual">
        </div>
        <div class="cont_inputs_form">
            <input type="text" name="passNueva" id="passNueva" placeholder="Ingrese Contraseña Nueva">
        </div>
        <button type="button" id="btnMiau">Cambiar Contraseña</button>
    </form>
</div>