<form id="frmPersonal" autocomplete="off">
    <h2 class="tittle_form">Personal</h2>
    <div class="cont_inputs_form">
        <input type="text" name="nroDocPersonal" id="nroDocPersonal" placeholder="DNI">
    </div>
    <div class="cont_inputs_form">
        <input type="text" name="nombrePersonal" id="nombrePersonal" placeholder="Nombre">
    </div>
    <div class="cont_inputs_form">
        <input type="text" name="gradoPersonal" id="gradoPersonal" placeholder="Grado">
    </div>
    <div class="cont_inputs_form">
        <input type="text" name="profesionPersonal" id="profesionPersonal" placeholder="Profesión">
    </div>
    <div class="cont_inputs_form">
        <input type="text" name="perfilPersonal" id="perfilPersonal" placeholder="Perfil">
    </div>
    <div class="cont_inputs_form">
        <input type="text" name="passPersonal" id="passPersonal" placeholder="Contraseña">
    </div>
    <button type="submit">Registrar</button>
</form>